.footer-container{
  width: 60%;
  padding: 2rem 0 2rem 0;
}

.footer-col{
  padding-right: 3rem;
}

.footer-col{
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  margin-bottom: 4rem;
}
.footer-col h4{
  font-weight: bold;
}

.footer-col img{
  margin-right: 1rem;
}
.footer-col a:hover{
  color: rgb(105, 189, 210);
  text-decoration: none;
}
.footer-first-col{
  padding-right: .5rem;
}
.footer-first-col p{
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
